<div class="container">
  <div class="row">
    <div class="about-header">
      <div class="about-text">
        <div id="about-info">
          <h1>Frisco, Colorado</h1>
          <h2>september 16 - 18, 2016</h2>
          <h4>
            <%= link_to "home sweet home", "https://www.airbnb.com/rooms/7178093?eluid=1&euid=abcec2af-d38d-f8a0-5803-fdf5315d6920" %>
            &#8226;
            <%= link_to "flight details", flights_path %>
          </h4>
        </div>
      </div>
    <%= image_tag "pink_mountains.jpg" %>
    </div>
  </div>
</div>