<div class="container">
  <div class="row" id="poop">
    <div class="about-header">
      <div class="about-text">
        <div id="about-info">
          <h1>estes park, colorado</h1>
          <h3>september 16 - 19, 2016</h3>
        </div>
        <%= link_to "home", root_path %>
      </div>
    <%= image_tag "pink_mountains.jpg" %>
    </div>
  </div>
</div>