<div class="row" id="get-ready-row">
  <div class="col-sm-4 get-ready-description">
    <h3>eat</h3>
    <h3>drink</h3>
    <h3>be merry</h3>
    <h3>join us for a weekend of revelry.</h3>
  </div>
  <div class="col-sm-8">
    <%= image_tag "hochella.jpg", :id => "hochella" %>
  </div>
</div>