<div class="row">
  <div class="index-header">
    <div class="header-text">
      <h1 id="header">HOCHELLA</h1>
      <span>september 16 - 19, 2016</span>
      &#8226;
      <span>colorado</span>
    </div>
  <%= image_tag "mountains_wide.jpg", :id => "mountains-wide" %>
  </div>
</div>

<div class="row">
  <div class="col-sm-12 menu-bar">
    <div class="col-sm-4 menu-item">
      <h3>about</h3>
    </div>
    <div class="col-sm-4 menu-item">
      <h3>lineup</h3>
    </div>
    <div class="col-sm-4 menu-item">
      <h3>get ready</h3>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-12" id="box-1">
    <div class="col-sm-6">
      <%= image_tag "dancers.jpg" %>
    </div>
    <div class="col-sm-6">
      <h3>dance</h3>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-12" id="box-2">
    <div class="col-sm-6">
      <h3>drink</h3>
    </div>
    <div class="col-sm-6">
      <%= image_tag "cheers.jpg" %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-12" id="box-3">
    <div class="col-sm-6">
      <%= image_tag "crystals.jpg" %>
    </div>
    <div class="col-sm-6">
      <h3>be witchy</h3>
    </div>
  </div>
</div>