img {
  max-width: 100%;
}

.about-header {
  position: relative;
  clear: both;
  text-align: center;
}

.about-text {
  position: absolute;
  z-index: 100;
  width: 100%;
  margin-top: 45px;
  color: #fff;
  font-family: 'Jura', sans-serif;
}

#about-info {
  margin-top: 290px;
}

a {
  color: #fff !important;
  text-decoration: none;
}

a:hover {
  color: #337ab7 !important;
  text-decoration: none !important;
}