#get-ready-row {
  background-color: #eee;
  font-family: 'Jura', sans-serif;
}

#hochella {
  max-width: 100%;
  margin: 50px 30px;
}

.get-ready-description {
  padding-top: 7%;
  text-align: center;
}