@font-face {
  font-family: 'ChellaType-Regular';
  src: asset-url("ChellaType-Regular.ttf");
  src: asset-url("ChellaType-Regular.ttf?#iefix") format("embedded-opentype"),
    asset-url("ChellaType-Regular.ttf") format("truetype"),
    asset-url("ChellaType-Regular.woff") format("woff"),
    asset-url("ChellaType-Regular.svg#ChellaType-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
}

h1 {
  font-family: ChellaType-Regular;
}
